/*CARDS*/
.card{
    box-shadow: none;
    border-bottom: 1px solid gainsboro;
}
.card-body{
    padding: 1rem;
}

/*LISTS*/
.natcolList{
    padding: 1rem;
    h3{
    font-size: 1.5rem;
    }
}

/*FILTERS*/
.filters-row{
    padding-top: 12px;
    margin-top: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    justify-content: space-between;
    .form-group{
    margin-bottom: 0;
    }
}
.filter-card{
    z-index: 2;
}
.filter-card-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 105px;
    z-index: 99999;
}

/*INPUTS*/
.v-select{
    background: #fff;
    .selected-tag{
    //position: absolute;
    //left: 0;
    //top: 0;
    }
    .dropdown-toggle{
    height: 38px;
    }
}

/*STEPS*/
.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 22px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.badge-small{
    font-size: 0.5rem;
    max-height: 24px;
}

//swal

.swal2-toast{
    font-size: 1.4rem!important;
    //border: 2px solid greenyellow;
}

// modal

.fade2 {
    transform: scale(0.9);
    opacity: 0;
    transition: all .2s linear;
    display: block !important;
}

.fade2.show {
    opacity: 1;
    transform: scale(1);
}

//messages
.messages-list{
    padding-left: 0;
    .messages-list-item{
        border-bottom: 1px solid gainsboro;
    }
    .messages-list-table-header{
        background-color: #009688 !important;
        color: #fff !important;
    }
    .messages-list-table{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
        div{
            padding: .5em .5em;
            overflow: hidden;
            box-sizing: border-box;
            text-align: left;
            flex-grow: 1;
            width: 100%;
        }
    }
    .messages-list-table:hover{
        background: #dcdcdc52;
    }
}

/*SCROLLBAR*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:hover {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/*MODAL*/
.modal{
    position: fixed;
    height: 90vh;
    width: 90vw;
    margin: 5vh 5vw;
    top: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #cfcfcf;
    z-index: 99;
    overflow: auto;
    padding: 0;
    .orderDetails{
        border: none;
        box-shadow: none;
    }
    .modal-header{
        width: 100%;
        display: inline-block;
        height: auto;
        border-bottom: solid 5px rgb(60, 138, 168);
        box-shadow: none;
    }
    .modal-footer{
        width: 100%;
        display: inline-block;
        height: auto;
        text-align: center;
        border-top: solid 5px rgb(60, 138, 168);
        padding: 10px;
    }
    .close{
        cursor: pointer;
        font-weight: 700;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.backdrop{
    height: 100%;
    width: 100%;
    background: #00000052;
    display: block;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
}

/*FORM*/
.pxp-form{
    position: relative;
    height: 60vh;
    overflow: auto;
    padding: 20px;
    .form-column{
        width: 49%;
        display: inline-block;
    }
    .form-group{
        margin-bottom: 10px;
        label{
            font-size: 12px;
            font-weight: 700;
            padding: 5px 2px;
            width: 150px;
            position: relative;
            display: inline-block;
        }
        input{
            min-height: 25px;
            border: 1px solid #6a6a6a;
            min-width: 300px;
            padding: 5px;
        }
        select{
            min-height: 25px;
            border: 1px solid #6a6a6a;
            min-width: 300px;
            padding: 5px;
        }
    }
    .form-group-column{
        display:inline-flex;
        width: 50%;
    }
}

/*BIG ROUND BUTTONS*/
.big-round-button{
    position: relative;
    border-radius: 50% !important;
    height: 300px !important;
    width: 300px;
    font-size: 30px !important;
    box-shadow: 0px 10px 0px #3c8aa842;
    transition: all .3s ease-in-out;
    outline: none;
}

.big-round-button:active{
    box-shadow: 0 1px 0 #3c8aa842;
}

.big-round-button .loader{
    border-top: 1.1em solid rgba(239, 239, 239, 0.2);
    border-right: 1.1em solid rgba(239, 239, 239, 0.2);
    border-bottom: 1.1em solid rgba(239, 239, 239, 0.2);
    border-left: 1.1em solid #ffffff;
}

.big-select{
    min-height: 70px;
    border: 1px solid #DFDFDF;
    min-width: 400px;
    padding: 20px;
    font-size: 30px;
}

.cancel{
    background: #E3DDF7!important;
    color: #rgb(60, 138, 168)!important;
}

.big-square-button{
    height: 75px;
    font-size: 30px;
    width: 130px;
}

/*TOASTED*/
.toasted-container{
    right: 20px!important;
    bottom: 8%!important;
    z-index: 0!important;
    .toasted .primary.success, .toasted.toasted-primary.success{
        background: #2cb871;
    }
    .action{
        color: white!important;
        background: #27272733!important;
    }
}
